
.mainImageContainer {
  position: relative;
  margin: 2rem 0;
  width: 100%;
  aspect-ratio: 12/7;
}

.mainImage {
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}

